/* index.css */

body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  font-family: monospace;
}

canvas {
  display: block;
  image-rendering: pixelated;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
